<div class="web-developer-block">
  <div class="text">
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
  </div>
  <div class="text-slow">
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
  </div>
  <div class="text">
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
  </div>
  <div class="text-slow">
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
    <h1>{{ webDeveloper }}</h1>
  </div>
</div>
