<div class="background-text">
  <div class="text-bold">
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
  </div>
  <div class="text-light">
    <h1 class="light">{{ backgroundText }}</h1>
    <h1 class="light">{{ backgroundText }}</h1>
    <h1 class="light">{{ backgroundText }}</h1>
  </div>
  <div class="text-bold">
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
  </div>
  <div class="text-light">
    <h1 class="light">{{ backgroundText }}</h1>
    <h1 class="light">{{ backgroundText }}</h1>
    <h1 class="light">{{ backgroundText }}</h1>
  </div>
  <div class="text-bold">
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
    <h1 class="bold">{{ backgroundText }}</h1>
  </div>
</div>
