.container {
  position: absolute;
  overflow: hidden;
  vertical-align: baseline;
  height: 100%;
  width: 100%;

  .background-text {

    position: relative;
    display: inline-block;
    white-space: nowrap;

    h1 {
      font-weight: 400;
      font-size: 8.928571428571429vw;
      color: transparent;
      line-height: 1;
      -webkit-text-stroke-width: 0.05952380952380952vw;
      -webkit-text-stroke-color: #f1efef;
      display: inline-block;
      padding: 0 1.5vw 0 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1700px) {
  .container .background-text h1 {
    font-size: 16vw;
  }
}

@media screen and (max-width: 1000px) {
  .container .background-text h1 {
    line-height: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .container .background-text h1 {
    line-height: 30vw;
  }
}

@media screen and (max-width: 460px) {
  .container .background-text h1 {
    line-height: 50vw;
  }
}

@media screen and (max-width: 300px) {
  .container .background-text h1 {
    line-height: 100vw;
  }
}
