<div class="content">
  <app-nickname-background></app-nickname-background>
  <div class="avatar-block">
    <div class="avatar-preview">
      <div class="background"></div>
      <div class="image">
        <img src="assets/images/avatar.png" alt="" draggable="false" />
      </div>
    </div>
  </div>
  <div class="about-me-block">
    <div class="wrapper">
      <div class="title">
        <h3>about me</h3>
      </div>
      <div class="description">
        <p>description text</p>
      </div>
    </div>
  </div>
  <app-separator></app-separator>
  <app-stack></app-stack>
  <app-separator></app-separator>
</div>
