@font-face {
  font-family: MonumentExtended;
  src: url("/assets/fonts/MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: HalvarRegular;
  src: url("/assets/fonts/HalvarBreit-Rg.ttf") format("truetype");
}

@font-face {
  font-family: HalvarXBold;
  src: url("/assets/fonts/HalvarBreit-XBd.ttf") format("truetype");
}

#content {
  width: 100%;
  height: 100%;

  .container {
    width: 100%;
    height: 100%;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .page {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;
    }

    .title {
      background-color: #ffffff;

      .page-title {
        h1 {
          font-size: 10vw;
          font-weight: 400;
        }
      }
    }

    .description {
      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 4.166666666666667vw);
        height: calc(100% - 3.5714285714285716vw);
        background: #415fff;
        box-shadow: 0 0 1.7857142857142858vw rgba(0, 0, 0, 0.2);
        border-radius: 1.7857142857142858vw;

        .page-title {
          h1 {
            color: #ffffff;
            font-family: HalvarXBold;
            font-size: 5vw;
            text-transform: uppercase;
            text-align: center;
          }

          .text-image {
            img {
              width: 8.928571428571429vw;
              height: 7.083333333333333vw;
            }
          }

          .big-text {
            font-size: 8.714285714285714vw;
          }
        }

        .page-content {
          a {
            text-decoration: none;
          }

          h1 {
            color: #ffffff;
            font-family: HalvarXBold;
            font-size: 5.928571428571429vw;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.5;
          }
        }
      }
    }

    .images-page .wrapper {
      .background-images {
        .image-first {
          position: absolute;
          width: 11.904761904761905vw;
          height: 11.904761904761905vw;
          left: 15.476190476190476vw;
          top: 10vh;

          animation: imageAnim 15s infinite ease-in-out;

          img {
            width: 11.904761904761905vw;
            height: 11.904761904761905vw;
          }
        }

        .image-second {
          position: absolute;
          width: 11.904761904761905vw;
          height: 11.904761904761905vw;
          left: 70.38095238095238vw;
          top: 55vh;
          transform: rotate(50deg);

          animation: imageAnim2 15s infinite ease-in-out;

          img {
            width: 11.904761904761905vw;
            height: 11.904761904761905vw;
          }
        }

        .light-circle-one {
          position: absolute;
          width: 80vw;
          height: 80vw;
          left: -15.476190476190476vw;
          top: -40vh;
        }

        .light-circle-two {
          position: absolute;
          width: 70vw;
          height: 70vw;
          left: 28.476190476190476vw;
          top: 2vh;
        }
      }

      .page-title {
        h1 {
          font-size: 8vw;
        }
      }
    }

    .first-page {
      .wrapper {
        .background-images {
          .light-circle-one {
            position: absolute;
            width: 60vw;
            height: 60vw;
            left: -15.476190476190476vw;
            top: 0.05vh;
          }
        }

        .page-title {
          h1 {
            font-size: 10vw;
            font-family: HalvarXBold;
            text-transform: none;
          }

          .text-image {
            width: 10vw;
            height: 10vw;

            img {
              width: 11vw;
              height: 10vw;
            }
          }
        }
      }
    }

    .last-page {
      height: calc(100% - 5.9523809523809526vw);

      .background-images {
        .light-circle-one {
          width: 80vw;
          height: 50vw;
        }
      }

      .page-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          color: #0d34ff;
          text-decoration: none;
        }

        h1 {
          font-size: 5vw;
        }

        img {
          width: 8.928571428571429vw;
          height: 8.928571428571429vw;
          margin-top: 2vw;
          animation: heartAnim 1s infinite ease-in-out;
        }
      }
    }

    .page-title,
    .page-content {
      z-index: 1;
    }

    .background-text {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .background-images {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;

      .light-circle-one,
      .light-circle-two {
        position: absolute;
        height: 50vw;
        background: radial-gradient(
            39.29% 39.29% at 50% 50%,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(217, 217, 217, 0) 100%
        );
      }

      .light-circle-one {
        width: 60vw;
        left: 20%;
        top: 0.5vh;
      }

      .light-circle-two {
        width: 50vw;
        left: 40.476190476190476vw;
        top: 0.05vh;
      }
    }

    #footer {
      width: 100%;
      height: 5.9523809523809526vw;

      padding: 0 10.416666666666666vw;

      .content {
        width: 100%;
        height: 5.9523809523809526vw;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h1 {
          font-family: HalvarRegular;
          font-weight: 500;
          font-size: 1.1904761904761905vw;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #content {
    .container {
      .first-page {
        .wrapper {
          .background-images {
            .light-circle-one {
              left: -5.476190476190476vw;
              top: 0;
            }

            .light-circle-two {
              width: 30vw;
              height: 40vw;
              left: 50vw;
              top: 40vh;
            }
          }
        }
      }

      .images-page .wrapper {
        .background-images {
          .image-first {
            left: 15.476190476190476vw;
            top: 20.166666666666667vh;
          }

          .image-second {
            left: 70.38095238095238vw;
            top: 52.904761904761905vh;
          }

          .light-circle-one {
            top: -7vh;
          }

          .light-circle-two {
            width: 50vw;
            height: 50vw;
            left: 38.476190476190476vw;
            top: 25.166666666666667vh;
          }
        }
      }

      .stack,
      .works,
      .links {
        .wrapper {
          .background-images {
            .light-circle-one {
              width: 60vw;
              height: 60vh;
              top: 20vh;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #content {
    .container {
      .first-title,
      .about-me {
        .page-title {
          h1 {
            font-size: 20vw;
          }
        }
      }

      .about-me,
      .stack-title {
        .page-title {
          h1 {
            font-size: 12vw;
          }
        }
      }

      .works-title,
      .links-title {
        .page-title {
          h1 {
            font-size: 18vw;
          }
        }
      }

      .last-page {
        height: calc(100% - 5vh);

        .page-title {
          h1 {
            font-size: 6vw;
          }
        }
      }

      #footer {
        height: 5vh;
        padding: 0 4vw;

        .content {
          h1 {
            font-size: 3.5vw;
          }
        }
      }

      .description .wrapper {
        height: 100vw;
      }

      .first-page {
        .wrapper {
          .background-images {
            .light-circle-one {
              left: -5.476190476190476vw;
              top: 30vh;
            }

            .light-circle-two {
              top: 40vh;
            }
          }
        }
      }

      .images-page .wrapper {
        .background-images {
          .image-first {
            width: 20vw;
            height: 20vw;

            img {
              width: 20vw;
              height: 20vw;
            }

            left: 15.476190476190476vw;
            top: 30.166666666666667vh;
          }

          .image-second {
            width: 20vw;
            height: 20vw;

            img {
              width: 20vw;
              height: 20vw;
            }

            left: 60.38095238095238vw;
            top: 55.904761904761905vh;
          }

          .light-circle-one {
            left: -10vw;
            top: 20vh;
          }

          .light-circle-two {
            left: 35.476190476190476vw;
            top: 45.166666666666667vh;
          }
        }
      }

      .stack,
      .works,
      .links {
        .wrapper {
          .page-content {
            h1 {
              font-size: 10vw;
              line-height: 20vw;
            }
          }
        }
      }

      .works {
        .wrapper {
          .page-content {
            h1 {
              font-size: 8vw;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 460px) {
  #content {
    .container {
      .images-page .wrapper {
        .background-images {
          .image-first {
            left: 20.476190476190476vw;
            top: 35.166666666666667vh;
          }

          .image-second {
            left: 60.38095238095238vw;
            top: 55.904761904761905vh;
          }

          .light-circle-one {
            top: 25vh;
          }

          .light-circle-two {
            top: 40.166666666666667vh;
          }
        }
      }

      .stack,
      .works,
      .links {
        .wrapper {
          .background-images {
            .light-circle-one {
              top: 10vh;
              left: 10vw;
              width: 80vw;
              height: 80vh;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  #content {
    .container {
      .images-page .wrapper {
        .background-images {
          .image-first {
            left: 15.476190476190476vw;
            top: 38.166666666666667vh;
          }

          .image-second {
            left: 60.38095238095238vw;
            top: 52.904761904761905vh;
          }
        }
      }
    }
  }
}

@keyframes imageAnim {
  0% {
    transform: translate(-5px, 10px) rotate(10deg);
  }

  50% {
    transform: translate(0, 0) rotate(0);
  }

  100% {
    transform: translate(-5px, 10px) rotate(10deg);
  }
}

@keyframes imageAnim2 {
  0% {
    transform: translate(5px, -10px) rotate(-10deg);
  }

  50% {
    transform: translate(0, 0) rotate(0);
  }

  100% {
    transform: translate(5px, -10px) rotate(-10deg);
  }
}

@keyframes heartAnim {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
