<div class="stack-block">
  <div class="wrapper">
    <div class="title">
      <h1>stack</h1>
    </div>
    <div class="list">
      <div class="element typescript">
        <div class="logo">
          <div class="logo-title">
            <h1>TypeScript</h1>
          </div>
          <div class="logo-image">
            <img
              src="assets/images/typescript.svg"
              alt="TypeScript"
              draggable="false"
            />
          </div>
        </div>
      </div>
      <div class="element angular">
        <div class="logo">
          <div class="logo-title">
            <h1>Angular</h1>
          </div>
          <div class="logo-image">
            <img
              src="assets/images/angular.svg"
              alt="Angular"
              draggable="false"
            />
          </div>
        </div>
      </div>
      <div class="element javascript">
        <div class="logo">
          <div class="logo-title">
            <h1>JavaScript</h1>
          </div>
          <div class="logo-image">
            <img
              src="assets/images/javascript.svg"
              alt="JavaScript"
              draggable="false"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
